@import 'fonts/fonts.css';

.labels {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 18;
}

.alertLabel {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 14;
}

.heading {
     -fx-font-family: 'Comfortaa Bold';
     -fx-text-fill: #323b4b;
     -fx-font-size: 36;
}

.textFields {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-border-radius: 10;
    -fx-border-color: #a3a19f;
    -fx-font-size: 15;
}

.buttonSubmitAndClear {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 18;
    -fx-border-radius: 10;
}