@import 'fonts/fonts.css';

.labelsInventoryView {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 15;
}

.textFieldsInventoryView {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-border-radius: 10;
    -fx-border-color: #a3a19f;
    -fx-font-size: 14;
}

.tableContentsInventoryView {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 11;
}