@import 'fonts/fonts.css';

.labelsPurchaseReciept {
     -fx-font-family: 'Comfortaa SemiBold';
       -fx-text-fill: #323b4b;
      -fx-font-size: 17;
}

.labelsnpurchaseReciept {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 15;
}

.buttonsPurchasePayment {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 17;
    -fx-border-radius: 10;
}

.alertLabelPurchasePayment {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-font-size: 11;
}

.textFieldsPurchasePayment {
    -fx-font-family: 'Comfortaa SemiBold';
    -fx-text-fill: #323b4b;
    -fx-border-radius: 10;
    -fx-border-color: #a3a19f;
    -fx-font-size: 15;
}